@import '/styles/assets/variables';

.btn {
  background-color: $color-primary;
  color: #fff;
  border-radius: 4px;
  padding: 0 1rem;
  display: inline-block;
  transition: all 0.2s;
  font-family: inherit;
  font-size: inherit;

  &:hover {
    background-color: $color-primary-dark;
  }

  &__sec {
    // display: block;
    // width: 100%;
    background-color: #141414;
    border-radius: 0;

    &:hover {
      background-color: #000000;
    }
  }
}
