@import '/styles/assets/variables';
@import '/styles/assets/mixin';

.SideDrawer {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 300;
  width: 80vw;
  max-width: 35rem;
  transition: transform 0.3s ease-in;
  background-color: $color-bg;
  overflow-y: auto;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(100%);
}

.top {
  width: 100%;
  background-color: $color-bg;
  z-index: 100;
  top: 0;
  left: 0;
  position: sticky;
  padding: 0.8rem 1rem;

  &__close {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__closeIcon {
    height: 1.2rem;
  }

  &__close_text {
    font-size: 1.4rem;
    margin-left: 0.7rem;
  }
}
