@import '/styles/assets/variables';

.topNav {
  position: fixed;
  width: 100%;
  height: $nav-height;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  background-color: $color-grey-dark;

  &__container {
    width: 100%;
    padding: 0 3rem;
  }

  &__content {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navItems {
    display: flex;
    position: relative;
  }

  &__accountIcon {
    color: $color-grey-light;
    fill: $color-grey-light;
    width: 3rem;
    margin-right: 2rem;
    cursor: pointer;
  }
}

.dropdown {
  position: absolute;
  top: 35px;
  right: 25px;
  background-color: $color-grey-light;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  & > * {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.2s;
    font-size: inherit;
    width: 100%;
    font-weight: 300;
    cursor: pointer;

    &:hover {
      background-color: #ddd;
      color: black;
    }
  }
}
