// COLOR VARIABLES
$color-primary: #ff5d8f;
$color-bg: #F0F0F0; //background

$color-font: #434343;  //primary fonts

$color-grey-dark: #202020;
$color-grey-light: #f0f0f0;
$color-grey-light-1: #e6e6e6;


// FONT VARIABLES
$font-primary: "Lato", sans-serif;
// $font-secondary: "Montserrat", sans-serif;

//other VARIABLES
$max-width: 100%;
$max-width-content:1920px;
$nav-height: 60px;