// COLOR VARIABLES
$color-primary: #ff5d8f;
$color-primary-dark: #FF2A6E;
$color-bg: #F0F0F0; //background

$color-font: #434343;  //primary fonts

$color-grey-dark: #202020;
$color-grey-dark-1: #3b3b3b;
$color-grey-dark-2: #5f5f5f;
$color-grey-light: #f0f0f0;
$color-grey-light-1: #e6e6e6;
$color-grey-light-2: #cfcfcf;

// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
// $font-secondary: "Montserrat", sans-serif;

//other VARIABLES
$max-width: 100%;
$max-width-content:1920px;
$nav-height: 60px;