// COLOR VARIABLES
$color-primary: #fec5bb;
$color-bg: #F0F0F0; //background

$color-font: #434343;  //primary fonts

$color-grey-dark: #1A1A1A;


// FONT VARIABLES
$font-primary: "Lato", sans-serif;
// $font-secondary: "Montserrat", sans-serif;

//other VARIABLES
$max-width: 100%;
$max-width-content:1920px;
$nav-height: 80px;