.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 100px;
  grid-auto-flow: row dense;
  max-width: 1200px;
  margin: 0 auto;

  &__item {
    grid-column-start: auto;
    grid-row-start: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &_medium {
      grid-row-end: span 2;
    }

    &_tall {
      grid-row-end: span 4;
    }

    &_full {
      grid-column-end: auto;

      // @media screen and (min-width: 768px) {
      //   grid-column: 1/-1;
      //   grid-row-end: span 2;
      // }
    }
  }
}
