@import '/styles/assets/variables';

.search {
  flex: 0 0 40%;

  display: flex;
  align-content: center;
  justify-content: center;
  color: $color-grey-light;

  &__input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    // background-color: $color-grey-light;
    // border: none;
    border: 1px solid $color-grey-dark-1;
    background-color: transparent;
    padding: 0.7rem 2rem;
    border-radius: 3px;
    width: 100%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      background-color: $color-grey-dark-1;
    }
    
    // &:focus * .search__icon {
    //   fill: $color-primary;
    // }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $color-grey-dark-2;
    }
  }

  &__button {

    &:focus {
      outline: none;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-grey-light;
  }
}
