@import '/styles/assets/variables';

.checkout {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.stepperContainer {
  margin-top: 20px;
  width: 100%;
  font-size: 1.4rem;
}

.stepper {
  // display: flex;
  display: flex;
  // justify-content: flex-start;
  // align-items: flex-start;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    &::before {
      position: absolute;
      content: '';
      border-bottom: 2px solid #ccc;
      width: 100%;
      top: 15px;
      left: -50%;
      z-index: 2;
    }

    &::after {
      position: absolute;
      content: '';
      border-bottom: 2px solid #ccc;
      width: 100%;
      top: 15px;
      left: 50%;
      z-index: 2;
    }

    &:first-child::before {
      content: none;
    }
    &:last-child::after {
      content: none;
    }
  }
}

.step {
  &__text {
    max-width: 80%;
    text-align: center;
  }

  &__counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $color-grey-dark;
    margin-bottom: 6px;
    color: white;
  }

  &__current {
    background: $color-primary;
    color: black;
  }
}

// .buttonContainer {
//   display: flex;
//   max-width: 150px;

//   & > * {
//     margin-right: 10px;
//   }
// }
